* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: palegreen;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}