* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
}

.container {
    align-items: center;
    height: 80vh;
    display: flex;
    justify-content: center;
}

#heading h1 {
    line-height: 50vh;
    font-size: 30px;
}

.counter {
    margin: 20px;
    font-size: 60px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: darkkhaki;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 45px;
    color: darkslateblue;
    background-color: rgb(70, 70, 150);
    border-radius: 10px;
}